@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    min-width: 100%;
    overflow-x: auto;
}

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
    }

    th,
    td {
        white-space: nowrap;
        padding: 8px;
    }
}